.contacts {
  position: relative;
  background-image: url("../../img/footer_block_6/vincent-guth-NUiQpGnj9rI-unsplash.png");
  /* Укажите ваш путь к изображению */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  font-family: $font-family;
  align-items: center;
  padding-left: 15vw;
}

.contacts-overlay {
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  height: 30%;
  background-image: linear-gradient(#FAFAFA, #fafafa00)
}

.contacts-content {
  position: relative;
  box-shadow: 0 -6px 0 $primary-color;
}

.contact-box {
  background-color: $background-card;
  padding: 40px;
  box-shadow: 0 4px 8px #00000033;
  max-width: 400px;
  text-align: center;
}

.contact-box h2 {
  font-size: 70px;
  font-weight: 100;
  color: $primary-color;
  margin-bottom: 15px;
}

.contact-box p {
  font-size: 15px;
  color: #828282;
  margin-bottom: 10px;
}

.social-icons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
