// "  sass --watch styles/sass/index.scss styles/css/style.css  "

//========Цвета========//
$primary-color: #515076;
$text-color: #888794;
$title-color: #757aa5;
$card-title: #a5a3b9;

$background: #edecf6;
$background-card: #f7f7fa;

/* adaptiv */
$mobile: 425px;
$tablet: 768px;
