@import "normalize";
@import "fonts";
@import "variables";
@import "templates";

@import "components/header"; //по аналогии импортируем свой раздел
@import "components/maintitle";
@import "components/block_2";
@import "components/block_3";
@import "components/block_4";
@import "components/block_5";
@import "components/part_6";
@import "components/footer";

